.v-enter-active,
.v-leave-active {
  transition: opacity 50ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 50ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}