.v-enter-active,
.v-leave-active {
  transition: opacity 50ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 50ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.test-move,
.test-enter-active,
.test-leave-active {
  transition: all 50ms cubic-bezier(0.55, 0, 0.1, 1);
}

.test-enter-from,
.test-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.test-leave-active {
  position: absolute;
}
